<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DKTC.Properties.Settings.DKTCConnectionString" connectionString="Data Source=LAPTOP-8NPS3NGO;Initial Catalog=DKTC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DKTC.Properties.Settings.DKTCConnectionString1" connectionString="Data Source=LAPTOP-9TM72T9J;Initial Catalog=DKTC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>